.list-word-input {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  border: 2px solid black;
  border-radius: .4rem;
  padding-bottom: .3rem;
}

.check-guess {
  margin-top: 1rem;
  background-color: #35D461;
  padding: .75rem;
  font-size: 1.5rem;
  width: 20rem;
  border: 5px solid #F99D07 ;
  border-radius: .5rem;
  cursor: pointer;
  font-weight: 700;
  align-self: center;
}

.correct-message {
  color: #F99D07;
  font-weight: 900;
  font-size: 2rem;
}
